@font-face {
  font-family: 'vazir';
  src: url('../assets/fonts/vazir.woff2') format('woff2');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: 'vazir';
  direction: rtl;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  box-shadow: 13px 24px 64px -22px;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  background-color: #fff;
  height: 50%;
  overflow: auto;
}
.container form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  width: 100%;
  gap: 5px;
}
form #add {
  background-color: #2ebf2e;
}
form #add:hover {
  background-color: #00ff00;
  /* color: #fff; */
}
form #inputName {
  width: 150px;
}
input[type='number'] {
  width: 80px;
}

input {
  height: 50px;
  border-radius: 50px;
  background-color: #ececec;
  border: none;
  text-align: center;
  width: 50px;
}
.container ul.content {
  list-style: none;
  align-items: center;
}
.container ul.content li {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  background-color: #bc6868;
  flex-direction: row;
  margin-bottom: 10px;
  cursor: pointer;
  color: #fff;
}
.container .content .done-btn {
  background-color: #ffe1e1;
}
.container .content .done-btn:hover {
  background-color: #e68181;
}
button {
  width: 50px;
  border: none;
  height: 37px;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}
button.done-btn {
  background-color: #00ff00;
}

.container ul li.done {
  background-color: #548f54;
  color: #fff;
}
i {
  font-size: 24px;
  margin-right: 10px;
  transition: all 0.2s ease;
}
.container ul li.done i {
  color: gold;
}
.toast {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 20px;
  color: #fff;
  border-radius: 30px;
  font-size: 1rem;
  opacity: 0.9;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

.toast.success {
  background-color: #4caf50;
}

.toast.error {
  background-color: #f44336;
}

.toast.hide {
  opacity: 0;
  pointer-events: none;
}

